Daily Email Digest.json
{
  "name": "Daily Email Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2b15afb8-fd6e-4e7b-8bb0-539971713867",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ez3MaEeCNQ4QMbu5y8zIcQoM04-Bc05PrbojoXv-P-M",
          "mode": "list",
          "cachedResultName": "agent_ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ez3MaEeCNQ4QMbu5y8zIcQoM04-Bc05PrbojoXv-P-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ez3MaEeCNQ4QMbu5y8zIcQoM04-Bc05PrbojoXv-P-M/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "08017482-6f9d-4876-9726-bad7f13f7387",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mbm1rfzCwpyG443H",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (rows.length === 0) {\n  return [{ json: { digest: \"No emails today.\", total: 0 } }];\n}\n\nlet digest = `===== DAILY EMAIL DIGEST =====\\n`;\ndigest += `Date: ${new Date().toLocaleDateString('en-GB')}\\n`;\ndigest += `Total: ${rows.length} emails processed\\n`;\n\nconst cats = {};\nrows.forEach(r => {\n  const cat = r.json.category || 'OTHER';\n  if (!cats[cat]) cats[cat] = [];\n  cats[cat].push(r.json);\n});\n\n['JOB_VACANCY','URGENT','ACADEMIC','INQUIRY','NEWSLETTER','SPAM','OTHER'].forEach(cat => {\n  if (!cats[cat]) return;\n  digest += `\\n------ ${cat} (${cats[cat].length}) ------\\n`;\n  cats[cat].forEach((e, i) => {\n    digest += `\\n${i+1}. From: ${e.from || '-'}\\n`;\n    digest += `   Subject: ${e.subject || '-'}\\n`;\n    digest += `   Summary: ${e.summary || '-'}\\n`;\n    if (String(e.needs_reply) === 'true') digest += `   NEEDS REPLY — check Drafts!\\n`;\n  });\n});\n\ndigest += `\\n==============================\\nAuto-generated by Gmail AI Agent`;\nreturn [{ json: { digest, total: rows.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "63ebde0d-c834-49ae-a15e-7c995cf7068e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "umayangaamith2@gmail.com",
        "subject": "=Daily Digest - {{ new Date().toLocaleDateString('en-GB') }} ({{ $json.total }} emails)",
        "message": "={{ $json.digest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "9fd713bf-6d07-423e-a094-a1d45f8b086e",
      "name": "Send a message",
      "webhookId": "496120cc-da1b-4922-a92e-69941105f6b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "skVHNc38mz1gNOE4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1Ez3MaEeCNQ4QMbu5y8zIcQoM04-Bc05PrbojoXv-P-M",
          "mode": "list",
          "cachedResultName": "agent_ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ez3MaEeCNQ4QMbu5y8zIcQoM04-Bc05PrbojoXv-P-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ez3MaEeCNQ4QMbu5y8zIcQoM04-Bc05PrbojoXv-P-M/edit#gid=0"
        },
        "numberToDelete": "={{ $('Get row(s) in sheet').all().length }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "04296365-f505-4285-b7f2-3b57fd2573bb",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mbm1rfzCwpyG443H",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5cb1d98b-479d-4fe8-8aec-e156062b6ae9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abcc9997191bf4b1a59d53ac7478aa324802fec3af7b7e875387dc489a1fed85"
  },
  "nodeGroups": [],
  "id": "SxSzK7O6hklY4XJO",
  "tags": []
}